RewriteEngine On

# Все что не /public/ перенаправим на /public/
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]

php_value post_max_size 3000M
php_value upload_max_filesize 3000M